:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.color_picker_top-wrapper {
  display: flex;

  .shade_picker-container {
    position: relative;
    border: 1px solid darkslateblue;
    display: flex;

    .pointer {
      position: absolute;
      font-size: 25px;
      transform: translate(-50%, -50%);
      user-select: none;
    }
  }

  .inputs_container {
    display: flex;
    flex-direction: column;

    button {
      margin-top: 25px;
      width: 250px;
    }
  }
}

.base_color_picker-container {
  display: flex;
  position: relative;
  //border: 1px solid darkslateblue;
  margin-top: 25px;

  .color_bar {
    position: absolute;
    height: 100%;
    width: 5px;
    border: 2px solid black;
    transform: translate(-50%, 0);
    user-select: none;
    box-sizing: border-box;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
